@import 'tailwindcss';
@plugin 'daisyui' {
	themes: all;
}

@utility collapse-box {
  @apply transition-none rounded-none md:rounded-box lg:collapse-open lg:flex-grow lg:hidden lg:[&:has(>input:checked)]:grid [&:has(>input:checked)]:flex-grow max-h-[calc(100vh-theme(space.40)-theme(space.8))] bg-base-300;
}

@utility collapse-box-content {
  @apply max-h-[calc(100vh-theme(space.64)-theme(space.2))] overflow-y-auto;
}

@utility collapse {
  & > .collapse-title {
    padding: 1rem;
    cursor: default !important;
    user-select: none;
  }

  & > .collapse-content {
  	min-height: 0;
  }
}

@layer utilities {
  .material-symbols-outlined {
    user-select: none;
    font-variation-settings:
      'FILL' 1,
      'wght' 400,
      'GRAD' 0,
      'opsz' 24;
  }

  :root,
  html {
    touch-action: pan-x pan-y;
    height: 100%;
  }

  .draggable {
    app-region: drag;
    user-select: none;
  }

  .non-draggable {
    app-region: no-drag;
    user-select: unset;
  }
}
